@import 'main/fonts.css';
@import 'main/reset.css';

.nav{
  background-color: rgb(232, 232, 232);
  padding: 0 24px;
  line-height: 56px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  color:grey;
}

.nav a{
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  margin:20px;
}

.nav a:hover{
  color:grey;
  cursor: pointer;
}
h3{
  color:grey !important;
}
.summary{
  display: flex;
  justify-content:space-around;
}

.htable{
    font-size: 18px;
    padding:10px;
    text-align: center;
    color:grey;
}

.btable{
    font-size: 15px;
    padding:15px !important;
    text-align: center;
}
